body,
html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

body * {
    user-select: none;
    outline: none;
    box-sizing: border-box;
}

.title-bar {
    height: 50px;
    width: 100%;
    background-color: rgb(72, 80, 88);
    -webkit-app-region: drag;

    .title-bar-button-container {
        float: right;
        height: 50px;
    }

    .title-bar-title {
        height: 30px;
        font-size: 24px;
        padding: 12px 14px;
        color: white;
        display: inline-block;
    }
    button {
        color: white;
        border: 1px solid rgb(85, 85, 85);
        height: 50px;
        width: 50px;
        font-size: 40px;
        padding: 0;
        -webkit-app-region: no-drag;
        background-color: #3a3a3a;
        height: 50px;

        span {
            display: block;
        }

        &:disabled {
            line {
                stroke: #777777;
            }
        }

        &:hover:enabled {
            background-color: lighten(#3a3a3a, 15);
        }
    }

    button:nth-child(2) {
        margin-top: -5px;
    }
}

svg {
    display: flex;
}

svg#close > line {
    stroke-width: 6px;
    stroke: white;
}

svg#maximize > line {
    stroke-width: 4px;
    stroke: #777777;
}

svg#minimize > line {
    stroke-width: 4px;
    stroke: white;
}

svg#pinned,
svg#unpinned {
    transform: scale(0.096);
    z-index: 100;
    position: relative;
    left: -226px;
    top: -226px;

    line,
    polygon {
        stroke-width: 16px;
        stroke: white;
        fill: white;
    }
}

#main-container {
    height: 500px;
    color: white;
    padding-top: 30px;

    .flash-card-container {
        text-align: center;

        .flash-card {
            #kanji-header {
                font-size: 170px;
                text-align: center;
                margin-bottom: 20px;
            }
        }

        #meaning-input-form {
            text-align: center;
            #meaning-input {
                margin: 0 auto 10px auto;
                display: inline-block;
                width: 40%;
                min-width: 300px;
                padding: 4px;
                border: 3px solid #202020;
                background-color: #3a3a3a;
                border-radius: 4px;
                font-size: 22px;
                color: rgb(202, 202, 202);

                &:focus {
                    background-color: rgb(85, 85, 85);
                }
            }
        }

        .meanings {
            margin: 0 auto;
            width: 300px;
            display: inline-block;
            & > h3 {
                margin: 0;
            }
        }
    }
}

.button-container {
    height: 50px;
    padding: 10px;

    & > button {
        height: 30px;
        background-color: #3a3a3a;
        border: 1px solid #202020;
        font-size: 20px;
        color: white;

        &:hover:enabled {
            background-color: lighten(#3a3a3a, 15);
        }

        &:disabled {
            color: #999999;
        }
    }

    #copy-to-clipboard-button {
        position: absolute;
        top: 60px;
        left: 10px;
        display: inline-block;
    }
}
